body {
    background-color: #FDD000;
}
h1 {
    color: #6B2800;
    font-family: "LEMON MILK";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}