* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.titlePage {
    position: relative;
    cursor: pointer;
    width: auto;
    border: 0px solid #FFD299;
    padding: 450px 10px;
    background-image: url(images/Component\ 10.png), linear-gradient(180deg, #FFD299 40%, #FFD299);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 50%, 50% 50%, 50% 50%;
    background-size: auto, auto, auto;
    
}
body {
    background-color: #FDD000;
}
h2 {
    font-size: 50px;
    text-align: left;
    font-family: lemon milk light;
    color: #6B2800;
    padding: 50px 50px;
}

.plats1 {
    width: 728px;
    height: 617px;
    flex-shrink: 0;
}
.plats2 {
    width: 690px;
    height: 550px;
    flex-shrink: 0;
}
.plats3 {
    width: 648px;
    height: 493px;
    flex-shrink: 0;
}
.plats4 {
    width: 828px;
    height: 629px;
    flex-shrink: 0;
}
h3 {
    color: #6B2800;
    font-family: "LEMON MILK";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.offres {
    position: relative;
    cursor: pointer;
    width : 1371px;
    height : 286px;
    display: flex;
    align-items: stretch;
}
h4 {
    color: #6B2800;
    font-family: "LEMON MILK";

}
.contact {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0px;
}
a {
    text-decoration: none;
    color: #6B2800;
    font-family: "LEMON MILK";
    font-size: 30px;
    align-items: center;
    margin: 0px 0px;
    
}
/* On fait le responsive pour téléphone de 600px */
@media only screen and (max-width: 600px) {
     nav {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    body {
        flex-direction: column;
        display: block;
  }

  .titlePage {
    flex-direction: column;
    display: block;
  }
}